<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <title>Flight Ticket Booking</title>
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li class="item"><a href="">Home</a></li>
                <li class="item"><a href="/admin/add">Add Flights</a></li>
                <li class="item"><a href="/admin/remove">Remove Flights</a></li>
                <li class="item"><a href="/admin/booked">Booked Flights</a></li>
                <li class="item"><a href="/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section id="home">
        <div class="card">
            <h2 style="margin: 10px;">Welcome Admin!</h2>
            <p style="padding: 4px;">
                As the administrator of a Flight Ticket Booking Website, you play a crucial role in managing the
                platform's flight inventory and ensuring a smooth booking experience for users. With the ability to add
                and remove flights, you have the power to update the available options based on current schedules,
                destinations, and airline partnerships.</p>
            <p> By adding flights, you expand the website's offerings, allowing users to explore a wide range of travel
                options. You can input vital details such as departure and arrival times, flight numbers, airlines, and
                available seats.
            </p>
            <b>As the admin, your ability to add, remove, and monitor flight bookings ensures that the Flight Ticket
                Booking Website remains a reliable and user-friendly platform, helping travelers find their ideal
                flights and fostering a positive booking experience for all.
            </b>
        </div>
    </section>
</body>

</html>
