<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Ticket Booking System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class = "banner">
        <div class ="navbar">
             <!-- <img src="../public/i" class="logo"> -->
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/login">About us</a></li>
                <li><a href="/login">Ticket Booking</a></li>                
            </ul>
        </div>
        <div class="content">
            <h1>BOOK YOUR FLIGHT</h1>
            <P>Book your flights while just<br> sitting at your home. </P>
            <a href="/login">
                <button type="button"><span></span>LOGIN</button>
            </a>
            <a href="/signup">
                <button type="button"><span></span>SIGN UP</button>
            </a>
        </div>
    </div>
</body>
</html>
