<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="formDiv">
        <form action="/login" method="post">
            <h1>Login Form</h1>
            <input placeholder="Name" name="name" type="text">
            <br>
            <input placeholder="Password" name="password" type="password">
            <br>
            <input placeholder="Admin Or User" name="role" type="text">
            <br>
            <button type="submit"><span></span>Submit</button>
            <br>
            <a href="/signup">Create a new account</a>
        </form>    
    </div>
</body>
</html>
