<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Ticket Booking</title>
        <link rel="stylesheet" href="/login.css">
</head>
<body>
    
    <div class="formDiv">
        <form action="/signup" method="post" >
            <h1>Signup Form</h1>
            <input placeholder="Name" name="name" type="text">
            <br>
            <input placeholder="Password" name="password" type="password">
            <br>
            <input placeholder="Admin Or User" name="role" type="text">
            <br>
            <button class="sub" type="submit">Submit</button>
            <br>
            <a href="/">Go back to login page</a>
        </form>  
    </div>
</body>
</html>
